<app-topbar></app-topbar>
<div class="container mx-auto min-h-full flex justify-center items-center">

    <div class="w-4/6 max-w-screen-md relative" style="top: -15px">
        <h1 class="mat-display-1 mb-2">
            We are comming soon...
        </h1>
        <p class="mat-h3">
            Do you own your data? You're the only middleman you can trust. Document-based storage for <a href="https://solana.com/">Solana</a> dapps.
        </p>
        <div class="mt-6">
            <app-custom-text-input class="mr-2"></app-custom-text-input>
            <app-custom-button></app-custom-button>
        </div>
        
    </div>

</div>
<app-footer></app-footer>
